ion-card {
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;

  ion-img {
    height: 200px;
    object-fit: cover;
  }

  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  ion-card-subtitle {
    color: var(--ion-color-medium);
    font-size: 1rem;
  }

  ion-card-content {
    font-size: 0.9rem;
    color: var(--ion-color-dark);
  }
}